In [14]:
import pandas as pd 
import numpy as np
import sys
import nltk

In [67]:
# %load statsop.py

In [70]:
#I want the averages for column 1 2 3.... run average on columns.....
columns = ["Column 1","Column 2","Column 3","Column 4"]
rows = [0,2,3,5,6]
statsobj = StatsOp()
statsobj.setData("dummydata.csv")
statsobj.updateCell("Column 4", 2, 12345)
statsobj.getData()

    Column 1  Column 2  Column 3  Column 4  Column 5  Column 6
0         94       143       114       151        98       114
1         67        38         7       187        80         7
2         56       113        11     12345       102       167
3         94       155       107       102       114        13
4        148        72        22        87       146        76
5        142       179       181        35       176        53
6        108        38        29        49        99       127
7         32        68       168        81        58       196
8         14        51        60        28       138       120
9        119       138        37        74       141        33
10        47         5        26        65        83       158
11       180       148        92       100       147        57
12        40        95        51         2        71       131
13       200       156        40       142        34        15
14        60       138         5       131       149       177
15        73       195       130       128       141        73
16       106       113       196        67       153        74